@import '../../index.scss';

.chatContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  
  margin: 0 auto;
  background-color: var(--color-dark-grey);
  width: 600px;
  padding: 2rem;

  .contain {
    display: flex;
    flex-direction: column;
    flex: 1;

    min-height: 2rem;
    background: var(--color-black);
    border: 1px solid #000;
    margin-bottom: 2rem;
    padding: 1rem;

    color: var(--color-light-grey);
    font-family: var(--font);
    font-size: 1.1rem;
    font-weight: 100;

    .bubble {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 1;
      background-color: #000;
      margin: 1rem 0;
      padding: .8rem;
      overflow: hidden;
      border-radius: 0rem 1rem 1rem 1rem;

      span {

      }
    }
  }
}