@import '../../index.scss';

.editTextContent {

  .editor {
    position: relative;
    color: var(--color-fluo-green);
    background: var(--color-black);
    border: 1px solid #000;
    cursor: text;
    padding: 1rem;
    border-radius: .2rem;

    .DraftEditor-root,
    .DraftEditor-editorContainer {
      display: block;
      background: none;
      border-radius: none;
      box-shadow: none;
      border: none;
      margin-bottom: 1rem;

      div {
        display: block;
        background: none;
        border-radius: none;
        box-shadow: none;
        border: none;
      }
    }

    
    .mentionContainer {
      position: absolute;
      display: flex;
      flex-direction: column;
      bottom: 6rem;

      background-color: var(--color-light-grey);
      color: var(--color-black);
      font: var(--font);
      font-size: 1rem;
      font-weight: 500;
      border-radius: .4rem;
      overflow: hidden;
      box-shadow: none;
      border: none;
      padding: .2rem 0;

      div {
        display: flex;
        flex: 1;

        .mentionSuggestionsEntryContainerLeft,
        .mentionSuggestionsEntryContainerRight {
          display: flex;
          flex: none;
          align-items: flex-start;
        }
      }
    }

    div {
      display: flex;
      margin-bottom: .6rem;

      .ul {
        position: relative;
        margin-right: .6rem;

        &:hover {
          .cubeContainer {
            .threeDCube {
              .right { box-shadow: -.2rem .2rem 2rem #BEFF0A; }
              .left { box-shadow: -.2rem .2rem 2rem #BEFF0A; }
              .back { box-shadow: -.15rem .15rem 1.6rem #BEFF0A; }
            }
          }
        }
      }

      div {
        display: flex;
        background: none;
        border-radius: none;
        box-shadow: none;
        border: none;
        margin: 0;
        padding: 0;

        button {
          z-index: 1;
          width: 100%;
          height: 2rem;
          position:absolute;
          background-color: transparent;
          border: none;
          margin-top: .4rem;
          fill: var(--color-dark-green);

          &:hover {
            fill: var(--color-fluo-green);
          }

          svg {
            width: 1.2rem;
            height: 1.2rem;
          }
        }
      }
    }
  }

  .send {
    margin-top: 1rem;
    cursor: pointer;
    color: var(--color-dark-green);
    background: var(--color-medium-green);
    border: none;
    border-radius: .2rem;
    transition: .1s ease-out;
    padding: .4rem .6rem;
    font-family: var(--font);
    font-weight: bold;
    box-shadow: inset .2rem .2rem .4rem var(--color-fluo-green),
      inset -.1rem -.1rem .2rem var(--color-dark-green),
      0 0 1rem var(--color-dark-green);
    border: 1px solid var(--color-black);

    &:hover {
      box-shadow: inset .2rem .2rem .4rem var(--color-dark-green),
      inset -.1rem -.1rem .2rem var(--color-fluo-green);
    }
  }
}