@import '../../index.scss';

.editTextContent {
  margin: 2rem;

  .editor {
    color: var(--color-fluo-green);
    background: var(--color-black);
    cursor: text;
    padding: 1rem;
    border-radius: .2rem;

    .DraftEditor-root,
    .DraftEditor-editorContainer {
      display: block;
      background: none;
      border-radius: none;
      box-shadow: none;
      border: none;
      margin-bottom: .5rem;

      div {
        display: block;
        background: none;
        border-radius: none;
        box-shadow: none;
        border: none;
      }
    }

    div {
      display: flex;
      background-color: var(--color-dark-grey);
      border-radius: 4px;
      border: 1px solid var(--color-black);
      overflow: hidden;
      
      div {
        display: flex;
        background: none;
        border-radius: none;
        box-shadow: none;
        border: none;
        margin: 0;
        padding: 0;

        button {
          margin-top: 0;
          padding-top: .5rem;
          background-color: var(--color-dark-grey);
          border: none;
          fill: var(--color-fluo-green);
        }
      }
    }
  }

  button {
    margin-top: 1rem;
    cursor: pointer;
  }
}